.center-text{
    text-align: center;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: bisque;
    
}

.grid-item{
    background-color: blueviolet;
    border: 10px solid cornflowerblue;
    font-size: larger;
    text-align: center;
}